@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: "Larish";
    src: url("../fonts/LarishNeueSemibold.woff");
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "larish";
}
p {
    font-family: "Work Sans", sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
    font-family: "Work Sans", sans-serif;
}
h1 {
    font-size: 6rem;
    line-height: 60%;
    margin: 2%;
}
h1:last-of-type {
    color: #000;
    -webkit-text-stroke: 1px #fff;
}
h2 {
    font-size: 6rem;
}
h3 {
    width: 40%;
    font-size: 3.6rem;
}
.bg-white {
    padding-right: 10%;
    padding-left: 10%;
}
.bg-black {
    background-color: #000;
    color: #fff;
    padding-right: 10%;
    padding-left: 10%;
}
header {
    text-align: center;
    font-family: "larish";
    height: 100vh;
    div {
        width: 50%;
        padding-top: 20%;
        margin-bottom: 3%;
        border-right: 1px solid #fff;
    }
    section {
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        a {
            border: 1px solid #fff;
            padding: 1% 3%;
        }
    }
}

main {
    div {
        div {
            display: flex;
            justify-content: space-between;
            article {
                margin-top: 10%;
            }
            #img-map {
                height: 45vw;
                margin-right: -9vw;
            }
        }
        .at-center {
            width: 45%;
            margin: 60vh auto;
            h3 {
                width: unset;
                font-size: 4rem;
                line-height: 90%;
            }
            p {
                line-height: 150%;
                padding-top: 5%;
            }
        }
        .at-center:last-of-type {
            margin: 100vh auto 40vh;
        }
    }
    .at-2col {
        > p {
            padding: 15% 0 5%;
        }
        article {
            display: flex;
            align-items: center;
            p {
                width: 60%;
                padding-left: 20%;
                font-size: 1.5rem;
                font-family: "larish";
                span {
                    font-size: 1rem;
                    font-family: "Work Sans", sans-serif;
                }
            }
        }
    }
}
#galery {
    position: relative;
    overflow: visible;
    img {
        position: absolute;
    }
    img:nth-of-type(1) {
        top: -70vh;
        right: 10vw;
        width: 25vw;
    }
    img:nth-of-type(2) {
        top: -20vh;
        left: 3vw;
        width: 20vw;
    }
    img:nth-of-type(3) {
        top: 35vh;
        right: 0;
        width: 20vw;
    }
    img:nth-of-type(4) {
        top: 65vh;
        left: 15vw;
        width: 25vw;
    }
    img:nth-of-type(5) {
        top: 95vh;
        right: 15vw;
        width: 22vw;
    }
    img:nth-of-type(6) {
        top: 130vh;
        left: 0;
        width: 20vw;
    }
    img:nth-of-type(7) {
        bottom: -10vh;
        right: 20vw;
        width: 30vw;
    }
}

#goldenbears div {
    display: block;
    position: relative;
    height: 100vh;
    img:first-of-type {
        position: absolute;
        top: 20vh;
        width: 55vw;
        z-index: 1;
    }
    img:last-of-type {
        position: absolute;
        top: 42vh;
        right: 2vw;
        width: 28vw;
        z-index: 2;
    }
}

#poppybears {
    overflow: hidden;
    height: 240vh;
    div:first-of-type {
        padding: 20vh 0;
        display: block;
        position: relative;
        width: 100vw;
        img {
            position: absolute;
            top: -20vh;
            right: 0;
            width: 30vw;
            animation: rotate 9s linear infinite;
        }
    }
    div:last-of-type {
        display: block;
        position: relative;
        padding-bottom: 60vh;
        img:first-of-type {
            position: absolute;
            top: 42vh;
            left: 2vw;
            width: 28vw;
            z-index: 2;
        }
        img:last-of-type {
            position: absolute;
            top: 20vh;
            right: 0;
            width: 55vw;
            z-index: 1;
        }
    }
}
#joinUs {
    overflow: hidden;
    min-height: 80vh;
    article {
        width: 50%;
        padding-top: 20vh;
        h4 {
            padding-top: 2%;
            margin-bottom: 5%;
            font-size: 2.1rem;
        }
        a {
            border: 1px solid #fff;
            padding: 2% 6%;
        }
    }
    .scrollingText {
        display: block;
        transform: rotate(45deg) translateX(15vw) translateY(-65vh);
        animation: scroll 9s linear infinite;
        p {
            height: auto;
            background-color: #fff;
            color: #000;
            font-size: 4rem;
            span {
                color: #fff;
                -webkit-text-stroke: 2px #000;
            }
        }
    }
}
footer {
    display: flex;
    justify-content: space-between;
    article {
        section {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            img {
                width: 3vw;
            }
        }
        p {
            margin: 5% 0;
        }
    }
    div img {
        width: 5vw;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    25% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes scroll {
    0% {
        text-indent: -15%;
    }
    100% {
        text-indent: 15%;
    }
}
